doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/lib/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    .text-center
      a.fa.fa-home.fa-3x(href='/')
      if isLoggedIn
        a.fa.fa-sign-out.fa-3x(href='/signout')
    block content
