extends layout

block content
  div.text-center
    h1.login-title Welcome #{user.name}.
  div.container
    p Check your details :
    ul
      li Username ---> #{user.username}
      li Provider ---> #{user.provider}
      li CONIKS registration status ---> #{coniks_message}
  div.text-center
    a(href='/coniks') Register to CONIKS
